img{
    height: 220px;
    width: 200px;
}

body {
    background-color: white;
}

div {
    background-color: rgb(250, 223, 250);
}

button {
    background-color: midnightblue;
    color: white;
    border-radius: 25px;
    height: 70;
    width: 90;
    font-size: 30px;
}

footer {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
}
